/* Stephen Belikoff - Module 1 Activity 3 CSS */

.container1 {
    display: grid;
}

.asuLogo1 {
    width: 25%;
    float: left;
}

.title {
    width: 50%;
    text-align: center;
    font-weight:100;
    font-size: x-large; 
}

.sectionContent {
    font-size: small;
    vertical-align: top;
}

.sectionHeader {
    font-size: large;
    font-weight: bold;
    font-style: italic;
    display: inline;
}

.twitter {
    font-size: large;
    font-weight: bold;
    font-style: italic;
    text-align: right;
    float: right;
}

.footer {
    font-weight: 100;
    font-size: small;
    text-align: center;
}